/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #eef2f5;
}

.box {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#map {
    height: 450px;
    /* Harita yüksekliği */
    width: 100%;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 2px solid #ddd;
    z-index: 1;
    /* Diğer öğelerin altında kalmaması için */
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

button {
    background: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button.secondary {
    background: #28a745;
}

button:hover {
    opacity: 0.9;
}